body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-kavoon: Kavoon;
    --font-montserrat: Montserrat;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-61xl: 80px;
    --font-size-16xl: 35px;
    --font-size-6xl: 25px;
    --font-size-31xl: 50px;
    --font-size-21xl: 40px;
    --font-size-41xl: 60px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-blueviolet: #9747ff;
    --color-gray-100: #898989;
    --color-darkgray: #a7a7a7;
    --color-gainsboro: #d9d9d9;
  
    /* Border radiuses */
    --br-8xs: 5px;
    --br-31xl: 50px;
    --br-xl: 20px;
  }
  