.property-1default-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-white);
    border: 5px solid var(--color-darkgray);
    box-sizing: border-box;
  }
  .name1 {
    position: absolute;
    top: 24.59%;
    left: 7.34%;
    text-shadow: 1px 0 0#898989, 0 1px 0#898989, -1px 0 0#898989, 0-1px 0#898989;
  }
  .property-1default1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 668px;
    height: 122px;
    font-size: var(--font-size-31xl);
    color: var(--color-gray-100);
  }
  .property-1variant2-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-white);
    border: 5px solid var(--color-black);
    box-sizing: border-box;
  }
  .div2,
  .name2 {
    position: absolute;
    left: 7.93%;
  }
  .name2 {
    top: 12.3%;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .div2 {
    height: 39.34%;
    width: 14.52%;
    top: 42.62%;
    font-size: var(--font-size-16xl);
    display: inline-block;
  }
  .property-1variant21,
  .property-1variant31 {
    position: absolute;
    top: 162px;
    left: 20px;
    width: 668px;
    height: 122px;
  }
  .property-1variant31 {
    top: 304px;
  }
  .div3,
  .name4,
  .sashank {
    position: absolute;
    left: 7.93%;
  }
  .name4 {
    top: 12.3%;
    font-size: var(--font-size-6xl);
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .div3,
  .sashank {
    height: 30.33%;
    width: 86.98%;
    top: 44.26%;
    display: inline-block;
  }
  .div3 {
    height: 39.34%;
    width: 14.52%;
    top: 41.8%;
    left: 20.66%;
  }
  .property-1variant41,
  .sashank1 {
    position: absolute;
    top: 446px;
    left: 20px;
    width: 668px;
    height: 122px;
    font-size: var(--font-size-16xl);
  }
  .sashank1 {
    height: 30.33%;
    width: 86.98%;
    top: 44.26%;
    left: 7.93%;
    display: inline-block;
  }
  .property-1variant51,
  .property-1variant61 {
    position: absolute;
    top: 588px;
    left: 20px;
    width: 668px;
    height: 122px;
  }
  .property-1variant61 {
    top: 730px;
  }
  .name {
    width: 100%;
    position: relative;
    border-radius: var(--br-8xs);
    border: 1px dashed var(--color-blueviolet);
    box-sizing: border-box;
    height: 872px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  